/*Header*/

.invisible h1 {
	color: whitesmoke;
}

.invisible h1:hover {
	color: green;
}

.invisible p {
	color: gray;
}

.invisible p:hover {
	color: darkred;
	background-color: #9CBA40;
}
/*Header*/

/*NAVPages*/

.navpages {
	float: left;
	background-color: rgba(0, 0, 0, .50);
	color: white;
	width: 14%;
	border-radius: 1rem;
	margin: 4rem 2rem 0rem 3rem;

}

.navpages a {
	color: whitesmoke;
}

.navpages h6 {
	font-size: 1.2rem;
	color: dimgray;
	padding: 0px;
	margin: 0px;
	background-color: white;
	text-align: center;
}

.navpages ul {
	list-style: none;
	padding: 0px 8px;
}

.navpages a {
	text-decoration: none;
}

.navpages li {
	text-align: center;
	font: 1.3rem/1 sans-serif;
	border-radius: 1rem;
	padding: 5px;
}

.navpages li:hover {
	background-color: rgba(0, 0, 0, 1.0);
	cursor: pointer;
	border-radius: 1rem;
}

/*NAVPages*/

/*AdvancedCSS*/

.advancedcss {
	padding: 40px 0px 0px 5px;
}

.advancedcss h1 {
	font-size: 2rem;
	font-weight: 500;
	color: black;
	margin: 0px;
	padding: 0px;
}

.advancedcss li {
	font-size: 1.5rem;
}

.advancedcss p {
	font-size: 1.6rem;
	margin: 0px;
	color: #5666B7;
}

.advancedcss ul {
	padding: 0px 10px;
}

/*AdvancedCSS*/

/*Table*/

.table {
	padding: 2rem 1rem;
}

.table h3 {
	padding-top: 0px;
	font-size: 2.4rem;
	margin: 0px;
	text-align: center;
	font-weight: 900;
	padding: 0 0 10px 0;
}

.table table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Verdana', sans-serif;
}

.table td {
	border: .9px solid #52abe5;
	border-left: 0px;

	padding: 15px;
	font-size: 1.4rem;
	text-align: center;
}

.table td:first-child {
	text-align: center;
	font-weight: 700;
}

.table tbody tr:nth-child(even) {
	background-color: #DBECFF;
}

.table thead th {
	border: .9px solid #52abe5;
	padding: 15px;
	color: white;
	font-size: 1.6rem;
	background-color: #0071c0;
	text-align: center;
}

.table thead th:hover {
	color: #FF9000;
}

.table tbody tr:hover {
	color: green;
}

.table thead th:not(.first) {
	border: .9px solid #52abe5;
	border-left: 0px;
	padding: 15px;
	font-size: 1.4rem;
	text-align: center;
	background-color: #DBECFF;
	color: black;
}

.table tfoot {
	font-weight: bold;
	background-color: #DBECFF;
}

/*Table*/

/*Walking Box*/

.wbox {
	width: 100px;
	height: 100px;
	background: orange;
	animation: walking 3s infinite;
	float: left;
	color: green;
	position: relative;
}

@keyframes walking {
  0%   {left: 500px; background: #940000;}
  25%  {left: 250px; background: #4C00BE;}
  50%  {left: 100px; background: #18C900;}
  75%  {left: 350px; background: #FCFF00;}
  100% {left: 500px; background: #FF7800;}
}

/*Walking Box*/

/*FrameList*/

.bottomlist li {
	display: inline;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 1rem;
}

.bottomlist a {
	text-decoration: none;
	color: floralwhite;
}

/* Select Boxes */

div.selectboxes {
	margin: 2px auto;
	border: 1px solid;
	background-color: rgb(245, 245, 245);
	border-color: rgba(0, 0, 0, 0.5);
	border-radius: 3rem;
	height: 1020px;
}



/* Select Boxes */