* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

h1, h2, p {
    margin-bottom: 2px;
}

/*Divs*/

div {
    margin: 0;
    padding: 20px 0;
}

article {
    float: left;
    background: ivory;
    box-sizing: border-box;
    height: 100%;
    width: 80%;
}

nav {
    float: left;
    background: gray;
    display: table;
    display: block;
    width: 20%;
    height: 99%;
}

/*Divs*/

/*Width*/

.width-100 {
    width: 100vw; /*Viewport Width*/
    height: 400px; /*Viewport Height*/
    background-color: aqua;;
    box-sizing: border-box; /*Considera o padding e a borda na largura e altura*/
    padding: 20px 0;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.width-20 {
    width: 20%;
}

.height-100 {
    height: 100%;
}

.fixed-width {
    width: 200px;
    background-color: lawngreen;
    margin:40px auto;
    text-align: center;
}

/*Width*/

.background {
    background-color: lightcoral;
    background-image: url(../images/pattern.png);
    height: 53%;
    width: 100%;
    background-repeat: repeat-x;
}

div img {
    max-width: 100%;
    width: 100%;
}