@import 'classes.css';

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
  font-family: Vector, 'Open Sans', Arial, sans-serif;
  background-image: url(../images/white.gif);
  font-size: 1rem;
  background-position: center;
}

header {
	padding: 30px;
	text-align: center;
	font-size: 4.4rem;
	font-weight: 400;
	background: #302782;
}

article {
	float: left;
}

section {
	background: rgba(255, 255, 255, 0.95);
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer	{
	background-color: #302782;
	text-align: center;
	color: white;
	font-size: 1.1rem;
	font: italic;
}

footer a {
	color: yellow;
	font-size: 1.4rem;
	font: italic;
}

iframe {
			width: 100%;
			height: 300px;
			border: 10px solid gray;
			border-radius: 1rem;
		}

@media (max-width: 600px) {
	header, .navpages, .advancedcss, iframe {
		width: 100%;
		height: auto;
		margin: 0;
	}
}

@media (max-width: 600px) {
	.table table {
		width: 375px;
		height: auto;
		margin: 0;
	}
}