@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
    --primary: #254159;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif
}

.main-container {
    background-color: #fff;
    max-width: 100vw;
    margin: 0 auto;
}

.container {
    padding: 20px;
    width: 100%;
    display: block;
    margin: 0 auto;
    float: left;
}

header {
    background-color: #fff;
    display: block;
    width: 100%;
}

div.article {
    overflow: hidden;
}

header img {
    filter: drop-shadow(0px 0px 5px #333);
}

div.container {
    border-bottom: 1px solid var(--primary);
}

header img:hover {
    filter: brightness(115%);
}

h1 {
    font-size: 2.4rem;
    color: var(--primary);
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: var(--primary);
    margin-bottom: 20px;
}

h4 {
    font-size: 1.6rem;
    color: rgb(82, 82, 221);
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #434343;
}

section nav ul {
    list-style-type: none;
}

ol {
    padding-left: 15px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {
    background-color: #fff;
    font-size: 1.5rem;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
}

section nav {
    display: block;
    float: left;
    width: 30%;
}

nav li {
    background-color: #f7f7f7;
    margin: 1px 0px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #d5d5d5;
}

nav a {
    text-decoration: none;
    color: var(--primary);
}

nav a:hover {
    color: #1c3952;
}

section article {
    display: block;
    float: left;
    width: 70%;
    border-left: .3px solid var(--primary);
    padding: 0 0 0 10px;
}

footer {
    background-color: var(--primary);
    color: #fff;
    float: left;
    width: 100%;
    padding: 20px;
}

footer p {
    color: #fff;
    margin: 0;
}

footer small {
    font-size: 80%;
    display: block;
}

article#tenho-interesse {
    display: block;
    float: right;
}

#tenho-interesse h1 {
    border-top: 1px solid var(--primary);
    margin-top: 33px;
}

.cog-branding__powered {
    display: none !important;
}

.cog-abuse {
    display: none !important;
}

html .cog-branding--minimal .cog-branding__powered, :root:root:root:root:root .cog-branding--minimal .cog-branding__powered {
    visibility: hidden !important;
}

html .cog-branding--minimal, html .cog-branding--minimal *, :root:root:root:root:root .cog-branding--minimal, :root:root:root:root:root .cog-branding--minimal * {
    visibility: hidden !important;
}

html .cog-i-cogicon, :root:root:root:root:root .cog-i-cogicon {
    width: 0 !important;
}

div.article img {
    max-width: 100%;
    width: 80%;
    height: 350px;
}

.cognito {
    height: 415px !important;
    overflow: hidden !important;
    background-color: #f7f7f7;
}

@media (max-width: 660px) {
    section nav, article, section article, article picture img {
        float: none;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        border: none;
    }
    article#tenho-interesse {
        width: 100%;
        display: block;
        float: none;
        border: none;
    }

}
